.title {
  margin: 0;
  text-align: center;
}

.password-display {
  @include flexbox;
  background-color: $gray-shade;
  color: $black-color;
  padding: 1rem;
  height: 2rem;
  width: 350px;
  word-break: break-all;
  border-radius: 0.5rem;
}
