body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: $black-color;
  color: $white-color;
  min-height: 100vh;
  font-family: "Neucha", cursive;
}
