body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: $black-color;
  color: $white-color;
  min-height: 100vh;
  font-family: "Neucha", cursive;
}
.container {
  flex-direction: column;
  @include flexbox;
  background-color: rgb(36, 36, 41);
  padding: 1rem;
  border-radius: 1rem;
  border: transparent;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 11rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}
label {
  font-weight: bold;
}

// .character-amount-container {
//   display: flex;
//   align-items: center;
// }
.number-input {
  width: 2rem;
}

.password-display {
  @include flexbox;
  background-color: rgb(240, 234, 234);
  color: black;
  padding: 1rem;
  height: 2rem;
  width: 350px;
  word-break: break-all;
  border-radius: 0.5rem;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid $white-color;
  color: $white-color;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}
.btn:hover {
  background-color: #ffffff33;
}
